.topbar{
	background-color:black;
	height: 30px;
}
.ucp{
	padding:5px 0px 5px 60px;
	font-size: 12px;
	color:white;
}
.teamfaq{
	text-align:right; 
	padding:5px 60px 5px 60px; 
	font-size: 13px;
	color:white;
}
.hiucp{
	background-image: url("bg1.jpg"); 
	font-size: 40px;
	color:white;
	height: 400px;
	
}
.logo{
	padding-left: 50px; 
	height: 100px;
	color:white;
}
.home{
	font-size: 15px;
	color:white;
	height: 100px;
	text-align:right; 
	padding:20px 90px 5px 60px;
}
.hiucptext{
	height: 300px;
	padding-top:70px;
}

.dropbtn {
    color: white;
	display:inline-block;
   
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  position: absolute;
 display: none;
  background-color: #f1f1f1;
   min-width: 160px;
  
}

.dropdown-content a {
	font-size:14px;
    color: black;
    padding: 12px 16px;
    display: block;
	text-align:left;
}
.dropdown:hover .dropdown-content {display: block;}
.wicd{

	height:120px;
	
}
.wicd1{
	font-size:35px;
	padding-top:30px;
	height:120px;

}	
	
.box3{
height:300px;


}
.space{
	
	height:300px;
}
.imgFR{
	margin-top:15px;
	text-align:right;
	height:300px;

}	
.textFR{
	padding-top:25px;
	height:300px;
	font-size:15px;
}

.imgPP{
	margin-top:20px;
	text-align:right;
	height:300px;
}
.textPP{
	height:300px;
	padding-top:25px;
	font-size:15px;
}
.imgAS{
	margin-top:20px;
	text-align:right;
	height:300px;
}
.textAS{
	height:300px;
	padding-top:25px;
	font-size:15px;
}
.aboutme{
	height: 500px;
}

.pic{
	height: 500px;
	padding-left:40px;
}

.abtTEXT{
	padding-left:20px;
	height: 500px;
}

.hello{
	height:200px;
}
.sayhello{
	
	padding-top:100px;
	padding-bottom:100px;
	height:200px;
}
.form{
	height:500px;
	
}
.comment{

	padding-left:40px;
	padding-top:30px;
	height:500px;
}
.info {
	padding-top: 30px;
	height: 500px;
}
.footer{
	height:300px;
	background-color:#181818;
}
.search{

color:#999999;
padding-top:40px;
padding-left:60px;
}	
.search input[type=text] {
	background-color:#181818;
	color:white;
}
.search input[type=text], .search  button {
    background-color:#181818;
  }
.connect{
color:#999999;
padding-top:40px;
}
.link{
	color:#999999;
padding-top:40px;
}
.contact{

	color:#999999;
padding-top:40px;
}
.btn{
	width:100%;
	color:white;
	background-color:#181818;
}
.OUTPUT{
	height:500px;
}






	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	